@charset "UTF-8";





:root {
    --mainbg: #31572c;
    --secobg: #F0F600;
    --maincolor:  #007f5f;
    --secocolor: white;
}




@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* TABLET , SMALL SCREENS */
    body {
        background-image: linear-gradient(to top, var(--mainbg), var(--maincolor) );
    }
    section#zlogin {
        width: 85vw;
        height: 400px;
    }

    section#zlogin > div#zform {
        float: left;
        width: 60%;
    }

    section#zlogin > div#zimg {
        width: 40%;
        height: 100%;
        float: right;
    }

    div#zform > h1 {
        font-size: 2em;
        margin-top: 40px;
    }
}

@media screen and (min-width: 992px) {
    /* DESKTOP */
    body {
        background-image: linear-gradient(to top, var(--mainbg), var(--maincolor) );
    }
    section#zlogin {
        width: 990px;
    }
    
    section#zlogin > div#zform {
        width: 50%;
        height: 100%;
        float: right;
    }

    section#zlogin > div#zimg {
        width: 50%;
        height: 100%;
        float: left;
    }

    div#zform > h1 {
        font-size: 2em;
        margin-top: 80px;
    }

    form > div.xfield {
        width: 85%;
    }
}