@charset "UTF-8";

:root {
    --mainbg: #31572c;
    --secobg: #F0F600;
    --maincolor:  #007f5f;
    --secocolor: white;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    
    background-color: var(--maincolor);
}


main {
    height: 100vh;
    width: 100vw;

    position: relative;
}

section#zlogin {
    height: 550px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    color: var(--maincolor);
    background-color: var(--secocolor);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.31);
    border-radius: 20px;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section div#zimg {
    height: 250px;
    display: block;

    background: var(--maincolor) url(../media/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

section#zlogin > div#zform {
    display: block;
    padding: 10px;
}

div#zform > h1 {
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-weight: bolder;
}



form > div.xfield {
    width: 90%;
    height: 41px;
    display: block;
    margin: 10px auto 0px auto;
    overflow: hidden;

    background-color: var(--maincolor);
    color: white;
    border-radius: 50px;

}

div.xfield > i {
    width: 40px;
    padding: 4px 10px 4px 12px;

    color: white;
    font-size: 2em;
}

div.xfield > input {
    width: calc(100% - 60px);
    height: 100%;
    transform: translateY(-10px);
    margin-left: 16px;
    padding: 20px;

    background-color: #0d6e53;
    color: white;
    border-radius: 50px;
    font-size: 1em;
    border: none;
}

form label {
    display: none;
}



form input[type=submit] {
    width: 50%;
    height: 40px;
    display: block;
    margin: 15px auto 10px auto;
    padding: 10px;
    
    background-color: var(--maincolor);
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

form input[type=submit]:hover {
    background-color: #00533f;
}


form a.xbutton {
    width: 50%;
    height: 40px;
    display: block;
    margin: 10px auto;
    padding-top: 10px;

    background-color: white;
    color: var(--maincolor);
    text-align: center;
    font-size: 1em;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid var(--maincolor);
}

form a.xbutton:hover {
    background-color: var(--maincolor);
    color: white;
}